body {
  background-color: white;
}

h1,form {
	
	padding-left: 300px;
	
}

.logOutBtn {
	
	float: right;
	
} 

#logout {
	
	background-color: white;
	color: #3792cb;
	float: right;
	font-size: 20px;
	display: inline-block;
	margin-top: 80px;
	
}

span {
	
	display: inline-block;
}


p {
	text-align: center;
	font-size: 50px;
	padding: 0px;
	font-family: fantasy;
	font-weight: bold;
	border-radius: 50%;
	 border: 2px solid #3792cb;
}



td {
	
	font-size: 30px;
}
input,input[type="select"],select {
  border: 2px solid #3792cb;
  border-radius: 4px;
  font-size: 30px;
}

.button {
  background-color: #3792cb;
  border: none;
  color: white;
  padding: 15px;
 
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
 
  margin:  20px;
 
  transition: 0.5s;
  cursor: pointer;
  border-radius: 28px;
  width:200px;
  font-family: cursive;
  font-size: 20px;
  
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
	background-position: right;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	opacity:0.9;
} 


.Header {
	
	background-color: #3792cb;
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    color: white;
    font-family: cursive;
   
}
	
.Footer {
	
	background-color:#3792cb;
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px;
	
}	
	
.user {
	float: left;
	width: 22%;
	 display: inline-block;
	 /*background-color: #6ac5fe;*/
	 padding-top: 20px;
	 padding-right:0px;
	 padding-left:15px;
	 margin: 20px; 
	 border-radius: 12px;
	  align-content: center;
	  border: 4px solid #3792cb;
    
}	

.Body {

	
	padding-top: 300px;
	 align-content: center;
	 padding-left: 400px;
	 color:#3792cb;
	 font-family: cursive;
	 
	 
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: left;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #296d98, 0 0 40px #296d98, 0 0 50px #296d98, 0 0 60px #296d98, 0 0 70px #296d98;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3792cb, 0 0 40px #3792cb, 0 0 50px #3792cb, 0 0 60px #3792cb, 0 0 70px #3792cb, 0 0 80px #3792cb;
  }
}


